<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <style>
        .container {
            margin: 0 auto;
            padding: 50px 0;
            width: 100%;
            max-width: 800px;
            line-height: 2em;
            text-align: center;
        }
        h2 {
            margin: 10px 0;
            font-weight: bold;
            font-size: 24px;
        }
        p {
            padding: 0 20px;
        }
        .intro {
            margin-bottom: 25px;
            text-align: justify;
            text-indent: 2em;
        }
        .bold {
            font-weight: bold;
        }
        .img-wrapper > img {
            margin: 40px 0 10px;
            width: 60%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="demo"></div>
        <a href="" id="link"></a>
        <div class="img-wrapper">
            <img src="Statue-of-Liberty-cruise-boat-New-York-City-07141415C273971B.jpg" alt="">
            <img src="http://cdn.pickupimage.com/data/photo/2016/5/9/0509162-2590-D966-E2D86896A6A6D97F.jpg" alt="">
            <img src="http://cloud.pickupimage.com/data/photo/2015/11/29/112915D-2590-D31A-4010AD9966BAB54A.jpg" alt="">
            <img src="http://cloud.pickupimage.com/data/photo/2014/3/24/colorful-village-Vernazza-Cinque-Terre-Italy-032414BC25B8EBC3.jpg" alt="">
            <img src="http://cloud.pickupimage.com/data/photo/2014/11/4/110414B-2590-D966-E2558F130D4744EC.jpg" alt="">
            <img src="http://cloud.pickupimage.com/data/photo/2014/8/18/0818144-2590-D966-E262224F9A667008.jpg" alt="">
            <img src="http://cloud.pickupimage.com/data/photo/2014/3/17/Boat-House-Cottage-031714C6495ADCFD.jpg" alt="">
        </div>
    </div>
</body>
</html>